body
{
    background-color: #f2f4f7;
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.opcao {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  font-size: 14px;
  
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
}

h1
{
  text-align: center;
  color: rgb(61, 63, 63);
  margin: 25px 0 ;
}

header
{
  background: linear-gradient(to right, #2d3d4d, #00aaff);
  padding: 20px;
  display: flex;
  border-radius: 8px 8px ;
  justify-content: center;
  max-width: 800px;
  margin: 30px;
  
}

form
{
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border: none;
  border-radius: 8px;
  background-color: white;
  text-align: justify;
}

.conteudobotao {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 40px;
}

.botao_enviar {
    background: linear-gradient(to right, #0059ff, #00aaff); 
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


