h1
{
  text-align: center;
  color: rgb(61, 63, 63);
  margin: 25px 0 ;
}

header
{
  background: linear-gradient(to right, #2d3d4d, #00aaff);
  padding: 20px;
  display: flex;
  border-radius: 8px 8px ;
  justify-content: center;
  max-width: 800px;
  margin: 30px;
  
  
}

body
{
    background-color: #f2f4f7;
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form
{
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border: none;
  border-radius: 8px;
  background-color: white;
  text-align: justify;
}